

header
{
    text-align: center;
    color:turquoise;
    border-radius: 1%;
    background-color: #00587a;
    width: 100%;
    margin-bottom: 0px;
    display: flex;
    height: 245px;

}
header .encabezados
{
    text-align: left;
    font-size: 30px;
    margin-left: 10px;
}
header .encabezados h2
{
    color: white;
    font-size: 40px;
    
}
header img
{
    
    background-color: #00587a;
    width: 500px;
    margin-top: 0px;
    height: auto;

}
nav 
{
    
    color: #f5f1da;
    font-size: larger;
    font-family: fantasy;
    background-color: #f5f1da;    
    height: 76px;
    padding-top: 1px;
    border-radius: 2%;
    border: 5px solid gold ;
    margin-bottom: 50px;
}
nav li
{
    
    font-size: 30px;
    float: left;
        
}
nav li a
{
    text-decoration: none;
    color: #52575d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 70px 20px 40px;
}
nav li a:hover
{
    color: #f5f1da;
    background-color: black;
}
