

header
{
    text-align: center;
    color:turquoise;
    border: 2px solid  black;
    background-color: tomato;
    width: 100%;
    margin-bottom: 0px;

}
header .encabezados
{
    text-align: center;
    font-size: 30px;
}
header .encabezados h2
{
    color: black;
}
nav 
{
    color: cornflowerblue;
    font-size: large;
    font-family: fantasy;
    background-color: forestgreen;
    padding-top: 1%;    
}
